$font-stack: 12pt "Goldman", cursive;

#cont {
  width: 100%;
  max-width: 1200px;
  box-sizing: content-box;
  margin-top: 5px;
  display: block;
  margin: 0 auto;
  background-color: #887d7d;
}
#header {
  display: flex;
  background-color: dimgrey;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.element-header {
  text-decoration: none;
  font: $font-stack;
  font-size: 2em;
  color: black;
  line-height: 12px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 2px;
}
